body {
    background: #ffffff;   
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    position: relative;
}

html,body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

.card-body{
  padding-top: 1em;
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}
