@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #353B3F;
    font-family: 'Roboto', sans-serif;
    width: inherit;
}

.card-body{
    font-size:2em;
    
}
.sec{
    margin-top: -80px;
    margin-left: 10em;
}

.sec-one{
    margin-top: inherit;
    margin-left: -10em;
}

.sec-two{
    margin-top: inherit;
    margin-left: 10 em;
}

.sec-three{
    margin-top: inherit;
    margin-left: -10em;
}

/* The card */
.card {
    position: relative;
    height: 30em;
    width: 55em;
    margin: 200px auto;
    background-color: #FFF;
    -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

/* Image on the left side */
.thumbnail {
	float : left;
	position : relative ;
	left : 30px;
	top : 7.5em;
	height : 80em;
	width : 530px;
	-webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	
}
/*object-fit: cover;*/
/*object-position: center;*/
img.left {
    position: absolute;
    left: 50%;
    top: 50%;
    height:auto;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Right side of the card */
.right {
    margin-left: 590px;
    margin-right: 20px;
}

.heading {
    padding-top: 15px ;
    font-size: 1.3rem;
    color: #4B4B4B;
}

.author {
    background-color: #9ECAFF;
    height: 30px;
    width: 150px;
    border-radius: 40px;
}

.author > img {
    padding-top: 5px;
    margin-left: 10px;
    float: left;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.heading-2 {
    padding-top: 8px;
    margin-right: 6px;
    text-align: right;
    font-size: 0.8rem;
}

.separator {
    margin-top: 10px;
    border: 1px solid #C3C3C3;
}

p {
    text-align: justify;
    padding-top: 10px;
    font-size: 0.95rem;
    line-height: 150%;
    color: #4B4B4B;
}

/* DATE of release*/
.heading-5 {
    position: absolute;
    left: 50px;
    bottom: 30px;
    font-size: 6rem;
    color: #C3C3C3;
}

.heading-6 {
    position: absolute;
    left: 67px;
    bottom: 10px;
    font-size: 2rem;
    color: #C3C3C3;
    
}

/* Those futur buttons */
ul {
    margin-left: 250px;
    
}

li {
    display: inline;
    list-style: none;
    padding-right: 40px;
    color: #7B7B7B;
}

/* Floating action button */
.fab {
    position: absolute;
    right: 50px;
    bottom: -2em;
    box-sizing: border-box;
    padding-top: 18px;
    background-color: #1875D0;
    width: 80px;
    height: 80px;
    color: white;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}
